HTML {
	height: 100%;    
}
* {
  box-sizing: border-box;
  font-family: "open sans", sans-serif; 
}
body {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 10% 90%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
header {
  align-items: center;
  background-color: #0B0F43;
  border: 1px solid;
  display: flex;
  grid-column-end: 5;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
  justify-content: space-between;
  padding: 10px;
}
h1 {
  color: #FEFEFE;
  font-size: 35px;
}
.header--h1-accent {
  color: #FEC200;
}
#header--search {
  border: 1px solid black;
  border-left: none;
  height: 40px;
  width: 85%;
}
#header--search-icon {
  background-color: #D3D3D3;
  border: 1px solid black;
  border-right: none;
  height: 40px;
  width: 15%;
}
#header--search-container {
  display: flex;
  height: 40px;
  margin-right: 10px;
  width: 25%;
}
aside {
  align-items: center;
  background-color: #587a8b;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-row-start: 2;
}
.aside-item {
  border: 2px solid #0B0F43;
  font-size: 16px;
  height: 45px;
  width: 100%;
}
.aside-button {
  background-color: #D3D3D3;
  color: white;
  font-weight: bold;
  border: 2px solid rgb(0, 0, 0);
  margin-top: 10px;
}
.aside-button.enable:hover {
  background-color: #0B0F43;
}
#aside--form--clear-btn.enable:hover {
  background-color: #0B0F43;
}
#submit-task.enable {
  background-color: #0B0F43;
}
#aside--form--container1 {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  min-height: 60px;
}
#aside--form--container3 {
  align-items: flex-start;
  display: flex;
  height: 45px;
  margin-top: auto;
  width: 100%;
}
.aside--form--submit-btn {
  height: 45px;
  width: 45px;
}
#aside--form--container2 {
  display: flex;
  flex-direction: column;
  height: 60px;
}
#aside--staging {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  max-height: 350px;
  min-height: 10px;
  overflow: auto;
  width: 100%;
}
.stage-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.aside--staged-item {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  padding: 5px 0;
}
.stage-list-delete {
  align-self: center;
  height: 25px;
}
#aside-form {
  border-bottom: 1px solid #0B0F43;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 400px;
  width: 90%;
}
#aside--urgency-btn {
  margin: 35px 0px;
  width: 90%;
}
main {
  background-color: #D3D3D3;
  grid-column-end: 3;
  grid-column-start: 2;
  overflow: auto;
  padding: 10px;
}
.initialPrompt {
  margin: auto;
}
#main--card-display {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
}
.main--card--urgent {
  width: 20%;
}
ul {
  margin: 0px;
  padding: 0px;
}
h3 {
  margin: 0px;
}
p {
  margin: 0px;
}
.main--card--list {
  flex-wrap: wrap;
  width: 100%;
}
.listItemsAppend {
  display: flex;
  flex-direction: row;
}
.main--article--card {
  background-color: #f3f6f7;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  min-width: 30%;
  max-width: 50%;
  margin: 10px 10px;
}
.main--card--title {
	height: 50px;
  align-items: center;
  border-bottom: 1px solid;
  display: flex;
  grid-row-end: 2;
  grid-row-start: 1;
  justify-content: center;
  justify-self: flex-start;
  margin-bottom: auto;
  width: 100%;
}
.main--card--body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  min-height: 100px;
}
.main--card--bottom {
  align-items: center;
  border-top: 1px solid;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  margin-top: auto;
}
.typed-to-do {
  display: inline-block;
  max-width: 90%;
  min-width: 50%;
}
.main--card--icon-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
}
.main--card--btn {
  height: 25px;
  width: 25px;
}
.main--card--text {
  font-size: 12px;
}
.card--check--icon {
  height: 15px;
  padding: 0px 5px;
}
.enable {
  background-color: #0B0F43;
}
.listItemsAppend {
  align-items: center;
  display: flex;
  list-style: none;
  padding: 5px;
  width: 100%;
}
.hide {
  display: none;
}
@media only screen and (max-width: 675px) {
  HTML {
    min-height: 1500px;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  #main--card-display {
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  .main--article--card {
    min-width: 80%;
  }
  .initialPrompt {
    margin-bottom: 800px;
  }
} 
@media only screen and (max-width: 445px) {
  body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  }
  header {
    align-items: center;
    background-color: #0B0F43;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
  }
  #header--search-container {
    margin: 0px;
    width: 95%;
  }
  h1 {
    font-size: 24px;
    margin: auto;
  }
  .main--article--card {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    width: 80%;
  }
}