HTML {
	height: 100%;    
}
* {
  box-sizing: border-box;
  font-family: "open sans", sans-serif; 
}
body {
  height: 100%;
  width: 100%;
  margin: 0px;
	padding: 0px;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 10% 90%;
}
header {
  border: 1px solid;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0B0F43;
}
h1 {
  color: #FEFEFE;
  font-size: 34px;
  margin-left: 10px;
}
#header--search {
  margin-right: 15px;
  width: 25%;
  height: 50px;
}
.header--h1-accent {
  color: #FEC200;
}
aside {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #47869A;
}
.aside-item {
  width: 100%;
  height: 45px;
  font-size: 16px;
  border: 2px solid #0B0F43;
}
.aside-button {
  background-color: #0B0F43;
  color: white;
  font-weight: bold;
  border: 2px solid rgb(0, 0, 0);
  margin-top: 10px;
}
.aside-button.enable:hover {
  background-color: #ef4a23;
}
#aside--form--clear-btn.enable:hover {
  background-color: #ef4a23;
}
#submit-task.enable {
  background-color: rgb(31, 35, 102);
}
#aside--form--container1 {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  min-height: 60px;
}
#aside--form--container3 {
  display: flex;
  align-items: flex-start;
  height: 45px;
  width: 100%;
  margin-top: auto;
}
.aside--form--submit-btn {
  height: 45px;
  width: 45px;
}
#aside--form--container2 {
  display: flex;
  flex-direction: column;
  height: 60px;
}
#aside--staging {
  width: 100%;
  min-height: 10px;
  max-height: 350px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
}
.stage-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.aside--staged-item {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  padding: 5px 0;
}
.stage-list-delete {
  height: 25px;
  align-self: center;
}
#aside-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 400px;
  width: 90%;
  border-bottom: 1px solid #0B0F43;
}
#aside--urgency-btn {
  width: 90%;
  margin: 35px 0px;
}
main {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #F7FCFC;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  overflow: auto;
}
.initialPrompt {
  margin: auto;
}
#main--card-display {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.main--card--urgent {
  width: 20%;
}
ul {
  padding: 0px;
  margin: 0px;
}
h3 {
  margin: 0px;
}
p {
  margin: 0px;
}
.main--card--list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
}
.listItemsAppend {
  display: flex;
  flex-direction: row;
}
.main--article--card {
  border: 2px solid;
	margin: 10px 15px;
  width: 30%;
  display: flex;
  flex-direction: column;
}
.main--card--title {
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid;
	height: 50px;
  justify-self: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: auto;
}
.main--card--body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  min-height: 100px;
}
.typed-to-do {
  display: inline-block;
  max-width: 90%;
  min-width: 50%;
}
.main--card--bottom {
  border-top: 1px solid;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.main--card--icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.main--card--btn {
  height: 25px;
  width: 25px;
}
.card--check--icon {
  height: 15px;
  padding: 0px 5px;
}
.enable {
  background-color: #47869A;
}
.listItemsAppend {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 5px;
}
.hide {
  display: none;
}